<section class="services">
<div class="container">
<div class="row"> 
  <h1>NOS DOMAINES D'INTERVENTION</h1>
  <P>{{domaineparagraphe}}</P>
 


<!-- card -->
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
  <div class="card h-100">
    <img src={{imagecard1}} class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title">{{cardtitle1}}</h4>
      <p class="card-text">{{cardtext1}}</p> 
    </div>
    <button mat-button color="warn">{{cardbutton}}</button> 
  </div>
</div>

  <div class="col">
  <div class="card h-100">
    <img src={{imagecard2}} class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title">{{cardtitle2}}</h4>
      <p class="card-text">{{cardtext2}}</p>
    </div>
    <button mat-button color="warn">{{cardbutton}}</button>
  </div>
 </div>

  <div class="col">
  <div class="card h-100">
    <img src={{imagecard3}} class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title">{{cardtitle3}}</h4>
      <p class="card-text">{{cardtext3}}</p>
    </div>
    <button mat-button color="warn">{{cardbutton}}</button> 
  </div>
  </div>


</div>


</div>
</div> 
</section>



<section class="caracteristique">
  <div class=" container-fluid">
  <div class="row">
  
     
    <div class="col-md-6 descriptif">
      <h3>{{caracteristiquetitle}}</h3>
      <p class="paragraphe-content" >{{caracteristiquedescriptif}}</p><br>
      <ul>
          <li>{{listitem1}}</li><br>
          <li>{{listitem2}}</li><br>
          <li>{{listitem3}}</li><br>
          <li>{{listitem4}}</li><br>
      </ul>
      <button mat-button color="warn"><a href="#">Lire plus</a></button>
      </div>
  
      <div class="col-md-6 illustration">
        <img src="assets\images\image4.jpg" alt="image de l'or"  class="img-fluid img-caracteristique">
      </div>
  </div>
  </div>
  </section>
  
  
  <section class="dream">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h2>{{caracteristiquetitle2}}</h2>
          <p class="text3paragraphe">{{caracteristiquedescriptif2}}</p>
          <button mat-button color="warn" class="btn">{{button}}</button>
          <button mat-button color="warn" class="btn">{{button2}}</button>
          <div class="bg-patern-effect">
          <img src="http://dorsin.angular.themesbrand.com/assets/images/bg-pattern.png" alt="">
          </div>
        </div>
      </div>
  </div> 
  </section><br><br><br>


  



<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

