<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{contacttitle}}</h1><br><br>
                <p>{{contactdescription}}</p>

                <div class="row">
                <div class="col-lg-4 left">
                    <p>
                    <span class="spantitle">{{adressetitle1}}</span><br>
                    <span>{{adresse1}}</span>
                    </p>
                    <p>
                    <span class="spantitle">{{adressetitle2}}</span><br>
                    <span>{{adresse2}}</span>
                    </p>
                    <p>
                    <span class="spantitle">{{horaire}}</span><br>
                    <span>{{heure}}</span>
                    </p>
                </div>
                <div class="col-lg-8 right">
                    <form>
                        <div class="row g-3">
                            <div class="col-sm-6">
                              <input type="text" class="form-control" placeholder="Votre nom" aria-label="Votre nom">
                            </div>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" placeholder="Votre e-mail" aria-label="Votre e-mail">
                            </div>
                          </div> <br>
                        
                          <div class="mb-3">
                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Votre sujet">
                          </div>

                          <div class="col">
                            <textarea class="form-control" placeholder="Votre message"  style="height: 100px"></textarea>
                          </div>
                    </form><br>
                    <div class="btn"><button mat-button color="warn">{{formbutton}}</button></div>
                </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="contacticone">
  <div class="container">
    <div class="row">
      
        
        <div class="col-lg-6 left">
          <ul>
            
            <li>
              <a href="#" class="socialicon">
                <i class="bi bi-facebook"></i>
              </a>
            </li>

            <li>
              <a href="#" class="socialicon">
                <i class="bi bi-twitter"></i>
              </a>
            </li>

            <li>
              <a href="#" class="socialicon">
                <i class="bi bi-linkedin"></i>
              </a>
            </li>

            <li>
              <a href="#" class="socialicon">
                <i class="bi bi-google"></i> 
              </a>
            </li>

            <li>
              <a href="#"class="socialicon" >
                <i class="bi bi-dribbble"></i>
              </a>
            </li>

          </ul>
        </div>

        <div class="col-lg-3 right1">
          <p>
            <i class="bi bi-telephone"></i>
            +226 123 4556 789
          </p>
        </div>


        <div class="col-lg-3 right2">
          <p>
            <i class="bi bi-envelope-open"></i>
            Support@info.com
          </p>
        </div>

      
    </div>
  </div>
</section>
