@import "~bootstrap-icons/font/bootstrap-icons.css";

.contact{
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    /* margin-top: 310%; */
    /* background-color: #2452db; */
    width: 100%;
}


.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.row{
    text-align: center;
    width: 100%;
}

.col-lg-12{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 100px;
    padding-right: 25px;
      
}

h1{
    font-weight: bold;
}

.col-lg-4{
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: left;
}

.spantitle{
    color: black;
    font-weight: 500;
}

p{
   color:#a8aeb4 ;
   margin-top: 1.5rem; 
   margin-bottom: 1rem;
}

.col-lg-8{
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    
}



button{
    border: 2px solid #fff;
    padding: 10px 22px;
    border-radius: 5px;
    background-color: #fb3e3e;
    color: white;
    font-weight: 500;
}

.btn{
    text-align: right;
    margin: 0px;
}

.social{
    display: flex;
    
    
}



.contacticone{
    /* padding-top: 80px;
    padding-bottom: 80px; */
    padding: 20px 0px;
    position: relative;
    /* margin-top: 7200px; */
    background-color:#fafbfe ;
    width: 100%; 
}

.col-lg-6{
    text-align: left;
    padding-left: 0px;
    
    
   
    
}

.col-lg-3{
    
    
}

.right2{
    text-align: right;
}

ul{
    margin-top: 20px;
    padding-left: 0px;
    list-style: none;
    margin-bottom: 1rem;
}

li{
    display: inline-block;
    /* padding-left: 0px; */
    margin-right: 0.5rem;
}

a{
    text-decoration: none;
    outline: none;
    background-color: transparent;
}

.socialicon{
    border: 3px solid #dadcdf;
    border-radius: 50%;
    color: #dadcdf;
    width: 48px;
    height: 48px;
    display: block;
    font-size: 16px;
    line-height: 42px;
    text-align: center;

}

.bi:before{
    /* display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit; */

}