<section class="Team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h1>NOS SOLDATS</h1>
              <p>{{paragraphe}}</p> <br> <br>
                
              
                <div class="card-group">
                    <div class="card">
                      <img src="http://dorsin.angular.themesbrand.com/assets/images/team/img-1.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h4 class="card-title">{{name1}}</h4>
                        <p class="card-text">{{fonction1}}</p>
                      </div>
                    </div>

                    <div class="card">
                      <img src="http://dorsin.angular.themesbrand.com/assets/images/team/img-2.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h4 class="card-title">{{name2}}</h4>
                        <p class="card-text">{{fonction2}}</p>
                      </div>
                    </div>

                    <div class="card">
                      <img src="http://dorsin.angular.themesbrand.com/assets/images/team/img-3.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h4 class="card-title">{{name3}}</h4>
                        <p class="card-text">{{fonction3}}</p>
                      </div>
                    </div>

                    <div class="card">
                        <img src="http://dorsin.angular.themesbrand.com/assets/images/team/img-4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h4 class="card-title">{{name4}}</h4>
                          <p class="card-text">{{fonction4}}</p>
                        </div>
                      </div>
                  </div>
            

            </div>

        </div>

    </div>

</section>


<section class="process">
  <div class="container work-process">
    <div class="row">
      
        <h2>{{processtitle}}</h2>
        <p>{{processparagraphe}}</p><br><br><br><br>

          <div class="col-md-6 left">  
          <img src="assets\images\image9.jpg" alt="">
          </div>
          

          <div class="col-md-6 right">
              <h4 class="card-title">{{processcardtitle1}}</h4>
              <p>{{processcardparagraphe1}}</p>
          </div>

          
    </div>

  </div>
</section>


<section class="temoignage">
  <div class="container">
    <div class="row">
      
        <h1>{{temoignagetitle}}</h1>
        <p>{{temoignageparagraphe}}</p><br><br><br>


        <div id="carouselExample" class="carousel slide" style="padding-left: 30%; padding-top: 5%;">
          <div class="carousel-inner">
        
          <div class="carousel-item active">
          <div class="card-temoignage">
            <img src="http://dorsin.angular.themesbrand.com/assets/images/testimonials/user-2.jpg" class="card-img-top img-temoignage img-top" alt="...">
            <div class="card-body">
              <p class="card-text-temoignage">{{temoignagecardparagraphe1}}</p>
              <h5>{{temoignagename1}} <span>{{temoignagecity1}}</span> </h5>
          </div>
        </div>
      </div>
          
            

      <div class="carousel-item">
          <div class="card-temoignage">
            <img src="http://dorsin.angular.themesbrand.com/assets/images/testimonials/user-1.jpg" class="card-img-top img-temoignage img-top" alt="...">
            <div class="card-body">
              <p class="card-text-temoignage">{{temoignagecardparagraphe2}}</p>
              <h5>{{temoignagename2}} <span>{{temoignagecity2}}</span> </h5>
          </div>
         </div>
        </div> 

        <div class="carousel-item">
          <div class="card-temoignage">
            <img src="http://dorsin.angular.themesbrand.com/assets/images/testimonials/user-3.jpg" class="card-img-top img-temoignage img-top" alt="...">
            <div class="card-body">
              <p class="card-text-temoignage">{{temoignagecardparagraphe3}}</p>
              <h5>{{temoignagename3}} <span>{{temoignagecity3}}</span> </h5>
            </div>
          </div>
        </div>
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button> 
    </div>

  </div>
</div>

</section>


<section class="start">
  <div class="container start-contenu">
    <div class="row">
      <div class="col-lg-12 col-start">
        <h1 class="startitle">{{starttitle}}</h1>
        <p class="startparagraphe">{{startparagraphe}}</p>
        <button mat-button color="warn" class="btn">Rejoindre</button>
      </div>
    </div>
  </div>
  <div class="bg-patern-effect">
    <img src="http://dorsin.angular.themesbrand.com/assets/images/bg-pattern-light.png" alt="">
  </div>
</section>


