<section class="home">
<div class="container-fluid">
<div class="row">
    <div class="col-md-7 text">
        <h1>{{singletitle}}</h1><br>
        <p>{{singleparagraphe}}</p><br>
        <button mat-button color="warn"><a href="#">{{button}}</a></button>
    </div>
    
    <!-- <div class="col-md-4 formulaire">
    <div class="form">
        <h4>{{formtitle}}</h4>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail" aria-describedby="basic-addon2">
        </div>
        <div class="input-group">
            <textarea class="form-control" placeholder="Message" aria-label="Message" style="height: 100px;"></textarea>
        </div><br> 
        <div class="input-group">
            <button class="form-control btn">Envoyer les détails</button>
        </div>
    </div>    
    </div> -->
</div>
</div>
</section>
 




